beautifulsoup4
python-dotenv
google-api-core
google-auth
google-cloud-appengine-logging
google-cloud-audit-log
google-cloud-bigquery
google-cloud-core
google-cloud-logging
google-crc32c
grpcio
itemadapter
itemloaders
lxml
matplotlib-inline
nbconvert
nest-asyncio
numpy
pandas
playwright
pyOpenSSL
pytest
referencing
requests
Scrapy
scrapy-playwright
Twisted
urllib3
pyarrow